* {
    color-scheme: light;
    width: 100%;
}

.imgLogo {
    filter: invert();
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 15vw; */
}

.divImgLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.bodyAll {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    text-align: center;
    color: #000;
}

.bodyAll.darkMode {
    color: #fff;
}

.corretorasTable {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loginTextSubtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
}

.inputText,
.inputSenha {
    padding: 10px;
    border: none;
    border-radius: 99px;
    background-color: #e6ecf0;
    font-size: 14px;
    color: #000;
    width: 93%;
}

.inputSubmit {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 99px;
    background-color: #1da1f2;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 2rem;
    width: 70%;
    margin: 12px auto;
}

.inputSubmit:hover,
.darkModeToggle:hover {
    background-color: #0a6da7;
    transition: background-color 0.6s;
}

.headerTitle {
    margin-top: 5rem;
}

.userText,
.senhaText {
    margin-bottom: 4px;
}

.darkMode {
    background-color: #181818;
    color: #FFF;
}

.darkModeToggleContainer {
    width: auto;
    margin: 0 auto;
}

.darkModeToggle {
    width: 15%;
    padding: 10px;
    border: none;
    border-radius: 99px;
    background-color: #1da1f2;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-right: 30px;
    padding-left: 30px;
}


.loginTextSubtitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: inherit
}